<form [formGroup]="submissionService.form">
    <div class="row mb-2">
        <h5 class="col">Ensembles:</h5>
        <button type="button" class="mx-3 col-auto btn btn-success btn-sm"
            (click)="submissionService.addFormArrayElement('ensembles', true)"><i class="bi bi-plus-lg"></i> Add
            Ensemble</button>
    </div>

    <div *ngIf="submissionService.form.get('ensembles').controls.length<=0"
        class="row mb-2 justify-content-center fw-bold" style="color:gray">
        No ensembles
    </div>

    <div formArrayName="ensembles">
        <div class="card p-3 mb-2" *ngFor="let address of submissionService.form['controls']['ensembles']['controls']; let i=index; let last=last">
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col">
                        <div class="row mb-3">
                            <div class="col">
                                Ensemble {{address.value['ensemble_id']}}
                            </div>
                            <div class="col-auto ps-0">
                                <button type="button" class="btn btn-danger btn-sm" title="Delete ensemble"
                                        (click)="submissionService.removeFormArrayElement('ensembles', i, true)"><i
                                            class="bi bi-trash-fill"></i></button>
                            </div>
                        </div>
                        <div class="input-group mb-3 col-lg-7">
                            <span class="input-group-text">Ensemble description</span>
                            <input type="text" class="form-control" formControlName="description">
                        </div>
                        <div class="row">
                            <div class="col">
                                <app-form-upload [indexEnsemble]="address.value['ensemble_id']" [ensembleCtrl]="address"></app-form-upload>
                            </div>
                        </div>

                    </div>
                    
                </div>

                <!-- <hr *ngIf="!last"> -->

            </div>
        </div>
    </div>
</form>
