<input #fileW
       type="file"
       style="display: none"
       (change)="onFilesAddedW()">

<input #fileC
       type="file"
       style="display: none"
       (change)="onFilesAddedC()">

<div class="row">
    <div class="col">
        <button *ngIf="ensembleCtrl.get('weights_filesize').value === 0"  class="btn btn-sm btn-success" (click)="addFilesW()">
            <span *ngIf="file_nameW">Select another file for weights</span>
            <span *ngIf="!file_nameW"> Select file for weights</span>
        </button>
        <button *ngIf="ensembleCtrl.get('weights_filesize').value  > 0" class="btn btn-sm btn-warning" (click)="addFilesC()">
            <span>Replace current file of weights</span>
        </button>
    </div>
    <div class="col text-end">
        <button *ngIf="ensembleCtrl.get('conformations_file_strategy').value === 'direct'" class="btn btn-sm btn-success" (click)="addFilesC()">
            <span *ngIf="file_nameC">Select another file for conformations</span>
            <span *ngIf="!file_nameC"> Select file for conformations</span>
        </button>
        <button *ngIf="ensembleCtrl.get('conformations_file_strategy').value !== 'direct'" class="btn btn-sm btn-warning" (click)="addFilesC()">
            <span>Replace current file of conformations</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
            <span   *ngIf="file_nameW" tooltip="Selected filename for weights">
            <i class="bi bi-paperclip"></i> {{file_nameW}}
            </span>

    </div>

    <div class="col text-end">
            <span  *ngIf="file_nameC" tooltip="Selected filename for conformations">
              <i class="bi bi-paperclip"></i> {{file_nameC}}
            </span>

    </div>
</div>

