<div class="row" *ngIf="!profileObj.authorized">
    <div class="col-auto">
        <a class="orcidWidget" href="{{env.ws}}auth/orcid/?ped_response=redirect" target="_self"> <img class="orcidLogo" src="assets/logos/orcid_24x24.png">Connect your ORCID iD</a>
    </div>
</div>

<div class="row" *ngIf="profileObj.authorized">
    <div class="col">
        <a routerLink="/browse" class="btn btn-primary-dark">Browse between your entries <i class="bi bi-skip-forward-circle-fill"></i></a>
    </div>
</div>
