<form [formGroup]="submissionService.form" class="container px-0">
    <!-- Publication details -->
    <div class="row mb-2">
        <div class="col input-group">
            <div class="input-group-text">Title</div>
            <input formControlName="title" type="text" class="form-control" placeholder="Title">
        </div>
    </div>
    <!-- <div class="row mb-2">
        <div class="col input-group">
            <div class="input-group-text">Comment</div>
            <textarea rows="2" class="form-control" formControlName="internal_comment" placeholder="Insert your comment"></textarea>
        </div>
        <div class="col-2 me-2 px-0">
            <p class="text-danger"><i class="bi bi-exclamation-circle"></i> Only for internal usage to inform other
                biocurators</p>
        </div>
    </div> -->
    <div class="row mb-2">
        <div class="col input-group">
            <label class="input-group-text">Publication Status</label>
            <select class="form-select" formControlName="publication_status" (change)="onChangePubDetails()">
                <option selected disabled [ngValue]="null">Choose...</option>
                <option value="In preparation">In preparation</option>
                <option value="Pre-print">Pre-print</option>
                <option value="Submitted">Submitted</option>
                <option value="Accepted">Accepted</option>
                <option value="Published">Published</option>
            </select>
            <label class="input-group-text">Publication Source</label>
            <select [attr.disabled]="submissionService.form.get('publication_status').value !== 'Published'?true:null"
                class="form-select" formControlName="publication_source" (change)="onChangePubDetails()">
                <option selected disabled [ngValue]="null">Choose...</option>
                <option value="pubmed">Pubmed</option>
                <option value="doi">DOI</option>
            </select>
            <label class="input-group-text">Publication ID</label>
            <input
                [attr.disabled]="((submissionService.form.get('publication_status').value !== 'Published') || (!submissionService.form.get('publication_source').value))?true:null"
                formControlName="publication_identifier" type="text" class="form-control" placeholder="Pubmed or DOI">
        </div>
    </div>

    <div class="row mb-2" *ngIf="submissionService.form.value['publication_html']">
            <div class="col-auto"><b>Publication: </b></div>
            <div class="col" [innerHTML]="submissionService.form.value['publication_html']"></div>
    </div>

    <!-- Authors section -->
    <div class="row mb-2 mt-4">
        <h5 class="col">Authors:</h5>
        <button type="button" class="mx-3 col-auto btn btn-success btn-sm"
            (click)="submissionService.addFormArrayElement('authors',false)"><i class="bi bi-plus-lg"></i> Add
            Author</button>
    </div>
    <div *ngIf="submissionService.form.get('authors').length<=0" class="row mb-2 justify-content-center fw-bold"
        style="color:gray">
        No authors
    </div>
    <div class="card mb-2 pt-2 px-2 container"
        *ngFor="let author of submissionService.form.get('authors').controls; let i=index;">
        <div [formGroup]="author" class="row px-3 align-items-center">
            <div class="col-1 px-0">
                <h1 style="text-align:center"><i class="bi bi-person-fill"></i> #{{i+1}}</h1>
            </div>
            <div class="col">
                <div class="row mb-2">
                    <div class="col input-group">
                        <label class="input-group-text">Name</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Author's name">
                        <label class="input-group-text">ORCID</label>
                        <input formControlName="orcid_id" type="text" class="form-control" placeholder="Author's ORCID">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col input-group">
                        <label class="input-group-text">Role</label>
                        <select formControlName="role" class="form-select">
                            <option selected disabled [ngValue]="null">Choose...</option>
                            <option value="biocurator">Biocurator</option>
                            <option value="data_owner">Data owner</option>
                        </select>
                        <label class="input-group-text">Email</label>
                        <input formControlName="email" type="text" class="form-control" placeholder="Author's email">
                        <label class="input-group-text">Corresponding Author</label>
                        <div class="input-group-text">
                            <input formControlName="corresponding_author" class="form-check-input mt-0" type="checkbox"
                                value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row justify-content-center mb-2">
                    <button (click)="submissionService.removeFormArrayElement('authors',i,false)" type="button"
                        class="btn btn-danger btn-sm" title="Delete"><i class="bi bi-trash-fill"></i></button>
                </div>
                <div class="row mb-2">
                    <div class="btn-group px-0" role="group">
                        <button type="button" class="btn btn-light border btn-sm" disabled title="Move up"><i
                                class="bi bi-arrow-up"></i></button>
                        <button type="button" class="btn btn-light border btn-sm" disabled title="Move down"><i
                                class="bi bi-arrow-down"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Experimental procedure section -->
    <div class="row mb-2 mt-3">
        <h5 class="col">Experimental Procedure:</h5>
    </div>
    <div class="alert alert-primary text-justify pt-2 pb-0">
        <i class="bi bi-exclamation-circle"></i> Please pay attention to the term names (incl. alternative names). The
        term-names can be detected, if:
        <ul>
            <li>they are in parentheses / round brackets</li>
            <li>they are directly preceded and/or followed by a space or one of the following characters: <b>. , ; :
                    -</b></li>
        </ul>
    </div>
    <div class="row mb-2">
        <div class="col input-group">
            <div class="input-group-text">Experimental procedure</div>
            <textarea formControlName="experimental_procedure" rows="3" class="form-control"
                placeholder="Explain the experimental procedure"></textarea>
        </div>
    </div>
    <div class="row mb-3 mx-0" *ngIf="submissionService.form.get('term_experimental_procedure').value.length>0">
        <div class="col"><strong>Found terms: </strong>
            <span *ngFor="let term of submissionService.form.get('term_experimental_procedure').value"
                class="badge bg-success mx-1">{{term["name"]}}</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col input-group">
            <div class="input-group-text">Structural ensembles calculation</div>
            <textarea formControlName="structural_ensembles_calculation" rows="3" class="form-control"
                placeholder="Explain the structural ensemble calculation"></textarea>
        </div>
    </div>
    <div class="row mb-3 mx-0"
        *ngIf="submissionService.form.get('term_structural_ensembles_calculation').value.length>0">
        <div class="col"><strong>Found terms: </strong>
            <span *ngFor="let term of submissionService.form.get('term_structural_ensembles_calculation').value"
                class="badge bg-success mx-1">{{term["name"]}}</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col input-group">
            <div class="input-group-text">MD calculation</div>
            <textarea formControlName="md_calculation" rows="3" class="form-control"
                placeholder="Explain the MD calculation"></textarea>
        </div>
    </div>
    <div class="row mb-3 mx-0" *ngIf="submissionService.form.get('term_md_calculation').value.length>0">
        <div class="col"><strong>Found terms: </strong>
            <span *ngFor="let term of submissionService.form.get('term_md_calculation').value"
                class="badge bg-success mx-1">{{term["name"]}}</span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="input-group col">
            <div class="input-group-text">Expression organism (NCBI Taxon ID)</div>
            <input formControlName="expression_organism" type="number" class="form-control" placeholder="Organism ID">
        </div>
        <div class="input-group col">
            <div class="input-group-text">Expression organism's name</div>
            <input formControlName="expression_organism_name" type="text" class="form-control"
                placeholder="Organism Name">
        </div>
    </div>

    <!-- Cross references -->
    <div class="row mb-2 mt-4">
        <h5 class="col">Cross-reference to other database entry:</h5>
        <button (click)="submissionService.addFormArrayElement('entry_cross_reference',false)" type="button"
            class="mx-3 col-auto btn btn-success btn-sm"><i class="bi bi-plus-lg"></i> Add
            Cross-reference</button>
    </div>
    <div *ngIf="submissionService.form.get('entry_cross_reference').length<=0"
        class="row mb-2 justify-content-center fw-bold" style="color:gray">
        No cross-references
    </div>
    <div class="row mb-2"
        *ngFor="let entryXRef of submissionService.form.get('entry_cross_reference').controls; let i=index;">
        <div [formGroup]="entryXRef" class="col input-group">
            <div class="input-group-text">Cross-reference</div>
            <select formControlName="db" class="form-select">
                <option selected disabled [ngValue]="null">Choose database...</option>
                <option value="pdb">PDB</option>
                <option value="disprot">DisProt</option>
                <option value="disprot.region">DisProt evidence</option>
                <option value="intact">IntAct</option>
            </select>
            <input formControlName="id" type="text" class="form-control" placeholder="DB identifier">
            <button (click)="submissionService.removeFormArrayElement('entry_cross_reference',i,false)" type="button"
                class="btn btn-danger btn-sm" title="Delete"><i class="bi bi-trash-fill"></i></button>
        </div>
    </div>

    <div class="row mb-2 mt-4">
        <h5 class="col">Cross-reference to raw experimental data:</h5>
        <button (click)="submissionService.addFormArrayElement('experimental_cross_reference',false)" type="button"
            class="mx-3 col-auto btn btn-success btn-sm"><i class="bi bi-plus-lg"></i> Add
            Cross-reference</button>
    </div>
    <div *ngIf="submissionService.form.get('experimental_cross_reference').length<=0"
        class="row mb-2 justify-content-center fw-bold" style="color:gray">
        No cross-references
    </div>
    <div class="row mb-2"
        *ngFor="let experimentalXRef of submissionService.form.get('experimental_cross_reference').controls; let i=index;">
        <div [formGroup]="experimentalXRef" class="col input-group">
            <div class="input-group-text">Cross-reference</div>
            <select formControlName="db" class="form-select" id="inputGroupSelectrefr">
                <option selected disabled [ngValue]="null">Choose database...</option>
                <option value="bmrb">BMRB</option>
                <option value="sasbdb">SASBDB</option>
            </select>
            <input formControlName="id" type="text" class="form-control" placeholder="Experimental identifier">
            <button (click)="submissionService.removeFormArrayElement('experimental_cross_reference',i,false)"
                type="button" class="btn btn-danger btn-sm" title="Delete"><i class="bi bi-trash-fill"></i></button>
        </div>
    </div>

</form>