<form [formGroup]="submissionService.form">
    <div class="row mb-2">
        <h5 class="col">Protein chains:</h5>
        <button type="button" class="mx-3 col-auto btn btn-success btn-sm"
            (click)="submissionService.addFormArrayElement('constructs', true)"><i class="bi bi-plus-lg"></i> Add
            Chain</button>
    </div>

    <div *ngIf="submissionService.form.get('constructs').controls.length<=0"
        class="row mb-2 justify-content-center fw-bold" style="color:gray">
        No chains
    </div>

    <div *ngFor="let chain of submissionService.form.get('constructs').controls; let i=index;" [formGroup]="chain"
        class="card p-3 mb-2">
        <!-- Chain -->
        <div class="row mb-3">
            <div class="col">
                <div class="row mb-2">
                    <div class="input-group">
                        <div class="input-group-text">Chain name</div>
                        <input formControlName="chain_name" type="text" class="form-control" placeholder="Chain name">
                        <label class="input-group-text">Is fixed?</label>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" id="is_fixed{{i}}"
                                formControlName="is_fixed">
                        </div>
                        <label class="input-group-text">Is disordered?</label>
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" id="is_disordered{{i}}"
                                formControlName="is_disordered">
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="input-group">
                        <div class="input-group-text">Chain description</div>
                        <input formControlName="description" type="text" class="form-control"
                            placeholder="Chain description">
                    </div>
                </div>
            </div>

            <div class="col-auto ps-0">
                <button type="button" class="btn btn-danger btn-sm" title="Delete chain"
                    (click)="submissionService.removeFormArrayElement('constructs', i, true)"><i
                        class="bi bi-trash-fill"></i></button>
            </div>
        </div>

        <!-- Chain Fragments -->
        <div class="row px-2">
            <div class="col">
                <div class="row mb-2">
                    <h5 class="col">Protein chain fragments:</h5>
                    <button type="button" class="mx-3 col-auto btn btn-success btn-sm"
                        (click)="submissionService.addFormArrayElement_nested('constructs', i,'fragments', true)"><i
                            class="bi bi-plus-lg"></i> Add
                        Fragment</button>
                </div>

                <div *ngIf="chain.get('fragments').controls.length<=0" class="row mb-2 justify-content-center fw-bold"
                    style="color:gray">
                    No fragments
                </div>
                <div *ngFor="let fragment of chain.get('fragments').controls; let j=index;" class="card p-3 pb-2 mb-2">
                    <div [formGroup]="fragment">
                        <h6>#{{j + 1}} fragment:</h6>
                        <div class="row">
                            <div class="col">
                                <div class="row mb-2">
                                    <div class="input-group">
                                        <div class="input-group-text">Name</div>
                                        <input formControlName="description" type="text" class="form-control"
                                            placeholder="Fragment name">
                                        <label class="input-group-text">Part of ensemble</label>
                                        <div class="input-group-text">
                                            <input formControlName="part_of_ensemble" class="form-check-input mt-0"
                                                type="checkbox">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col input-group">
                                        <label class="input-group-text">Definition type</label>
                                        <select formControlName="definition_type"
                                            (change)="resetUnusedFragmentType(i,j)" class="form-select">
                                            <option disabled [ngValue]="null">Choose...</option>
                                            <option value="Uniprot ACC">By Uniprot ACC</option>
                                            <option selected value="Sequence">By Sequence</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-2" *ngIf="fragment.get('definition_type').value==='Sequence'">
                                    <div class="input-group">
                                        <div class="input-group-text">Sequence</div>
                                        <textarea rows="2" class="form-control" formControlName="sequence"
                                            placeholder="Fragment sequence"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-2" *ngIf="fragment.get('definition_type').value==='Uniprot ACC'">
                                    <div class="input-group">
                                        <div class="input-group-text">UniProt ACC</div>
                                        <input type="text" class="form-control" formControlName="uniprot_acc"
                                            placeholder="Uniprot acc">
                                    </div>
                                </div>

                                <div class="row mb-2" *ngIf="fragment.get('definition_type').value==='Uniprot ACC'">
                                    <div class="input-group">
                                        <div class="input-group-text">Position from</div>
                                        <input type="number" class="form-control"
                                            formControlName="uniprot_start_position" placeholder="Start position">
                                        <div class="input-group-text">to</div>
                                        <input type="number" class="form-control" formControlName="uniprot_end_position"
                                            placeholder="End position">
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto ps-0">
                                <button type="button" class="btn btn-danger btn-sm" title="Delete fragment"
                                    (click)="submissionService.removeFormArrayElement_nested('constructs', i, 'fragments', j, true)"><i
                                        class="bi bi-trash-fill"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


</form>