{
  "openapi": "3.0.0",
  "info": {
    "title": "PED API",
    "version": "1.0",
    "contact": {
      "name": "BioComputing UP lab",
      "email": "biocomp@bio.unipd.it",
      "url": "https://protein.bio.unipd.it/"
    },
    "description": "The PED web server exposes RESTful endpoints for programmatic access to retrieve a single entry, perform entries search and download assets.",
    "license": {
      "url": "https://creativecommons.org/licenses/by/4.0/",
      "name": "Creative Commons Attribution 4.0 International License"
    }
  },
  "servers": [
    {
      "url": "https://deposition.proteinensemble.org/api/v1",
      "description": "PED API"
    }
  ],
  "paths": {
    "/entries": {
      "get": {
        "summary": "Search Entries",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {}
                    },
                    "params": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "count": 0,
                      "limit": 0,
                      "offset": 0,
                      "result": [
                        null
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "search-entries",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "limit",
            "description": "Number of entries to show"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "offset",
            "description": "Offset of results to skip (ideal for pagination)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "entry_id",
            "description": "PED Entry ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "publication_identifier",
            "description": "Pubmed/DOI ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "publication_html",
            "description": "Publication title"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "data_owner",
            "description": "Data owner/Author"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "uniprot_acc",
            "description": "UniProt ACC"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "protein_name",
            "description": "Protein Name"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "term",
            "description": "IDPO term"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cross_ref",
            "description": "DB or experimental cross-reference"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "free_text",
            "description": "Free text search query"
          }
        ]
      }
    },
    "/entries/{identifier}": {
      "get": {
        "summary": "Get Entry details",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "x-examples": {
                    "Example 1": {
                      "entry_id": "PED00001",
                      "version": 1,
                      "creation_date": "2022-04-29T12:38:19.659000",
                      "description": {
                        "title": "Structural ensemble of pSic1 (1-90) with phosphorylations at Thr5, Thr33, Thr45, Ser69, Ser76, Ser80",
                        "authors": [
                          {
                            "name": "Tanja Mittag",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          },
                          {
                            "name": "Joseph A. Marsh",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          },
                          {
                            "name": "Alexander Grishaev",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          },
                          {
                            "name": "Stephen Orlicky",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          },
                          {
                            "name": "Hong Lin",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          },
                          {
                            "name": "Frank Sicheri",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          },
                          {
                            "name": "Mike Tyers",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          },
                          {
                            "name": "Julie D. Forman-Kay",
                            "orcid_id": null,
                            "corresponding_author": false,
                            "email": null
                          }
                        ],
                        "publication_status": "Published",
                        "publication_source": "pubmed",
                        "publication_identifier": "20399186",
                        "publication_html": "Structure/function implications in a dynamic complex of the intrinsically disordered Sic1 with the Cdc4 subunit of an SCF ubiquitin ligase. <i> Mittag T, Marsh J, Grishaev A, Orlicky S, Lin H, Sicheri F, Tyers M, Forman-Kay JD. </i> Structure, 2010",
                        "entry_cross_reference": [
                          {
                            "db": "disprot",
                            "id": "DP00631"
                          }
                        ],
                        "experimental_cross_reference": [
                          {
                            "db": "bmrb",
                            "id": "16659"
                          }
                        ],
                        "expression_organism": null,
                        "expression_organism_name": null,
                        "experimental_procedure": "NMR Experiments: All NMR data were collected on Varian Inova 500 MHz, 600 MHz and 800 MHz spectrometers at 5 °C. The NMR samples were prepared in PBS and spectra were processed and analysed using NMRPipe/NMR Draw. Assignments and relaxation experiments were reported previously. NMR data is deposited in the BMRB with accession codes 16657 and 16659 for Sic1 and pSic1, respectively. PRE experiments and NH R2 NMR experiments were performed . The paramagnetic contribution to the transverse relaxation rate, (i.e. the paramagnetic relaxation enhancement, PRE), is the difference between transverse relaxation rates in paramagnetic and diamagnetic states. 1DHN RDCs were measured on 0.3 mM and 0.2 mM Sic1 and pSic1 samples, respectively. Couplings were extracted using “Fuda: A function and data fitting and analysis package”. Errors were calculated from at least duplicate data sets. SAXS data collection: Small angle x-ray scattering data were acquired at the Beam Line 12-IDC at the Advanced Light Source synchrotron (Argonne National Laboratory, Argonne, IL). A total of 20 sequential data frames with exposure times of 0.25 seconds were recorded. Samples and buffers were flowing during data collection to prevent radiation damage. Individual data frames were converted from 2D to 1D profiles and normalized by the corresponding incident beam intensities. The final 1D scattering profiles and their uncertainties were then calculated as means and standard deviations over the 20 frames and then buffer data were subtracted from the sample data.",
                        "structural_ensembles_calculation": "Ensemble models of intrinsically disordered Sic1 and pSic1 were calculated using essentially the same approach as was described (Marsh and Forman-Kay, 2009). Distance restraints were calculated from PRE measurements. SAXS profiles of the experimentally restrained ensembles were calculated by predicting scattering curves for each individual member using the program CRYSOL (Svergun et al., 1995) and averaged over the members of the ensemble. Chemical shifts were calculated from individual conformers using SHIFTX (Neal et al., 2003). RDCs were calculated using a local alignment approach, in which local alignment tensors are calculated for 15 residue fragments of the sequence in a sliding window fashion (Marsh et al., 2008). 15N R2 relaxation rates were compared to the number of heavy atoms in an 8 A ° radius of each measured nucleus, as previously described (Marsh and Forman-Kay, 2009). The Sic1 and pSic1 ensemble models comprised residues 1-90 of the full-length Sic1 amino acid sequence plus an N-terminal Gly-Ser sequence remaining after tag cleavage. Glutamate residues were used to represent the phosphorylated residues in pSic1 to facilitate use of TraDES (Feldman and Hogue, 2000). These glutamate residues were converted to the proper phosphorylated threonine or serine residues for electrostatic calculations. Three independent ensembles were calculated for each of free Sic1 and pSic1 and the pSic1 complex. Calculations were performed on a cluster of CPUs, with one main node performing the core conformational selection calculations and 8-12 nodes performing the iterative conformational sampling with CNS (Bru¨ nger et al., 1998), Unfoldtraj, and TraDES (Feldman and Hogue, 2000). The initial temperature for the ENSEMBLE calculations was set to 10,000 and decreased to 0.01 in 200,000 steps. The starting ensembles contained 200 structures and the number of conformers comprising the ensembles was decreased by one after each successful ENSEMBLE calculation in which full agreement with experimental restraints was achieved. Calculations were stopped when a smaller ensemble could not be successfully calculated within 72 hr.",
                        "md_calculation": null,
                        "ontology_terms": [
                          {
                            "name": "NMR",
                            "namespace": "Measurement method",
                            "is_a": [
                              "00230"
                            ],
                            "id": "00120",
                            "definition": "NMR spectroscopy is based upon the principle of nuclear spins and nuclei are electrically charged, the intrinsic magnetic moment of atomic nuclei such as that of 1 H, 13 C, and 15 N. When an external magnetic field an energy transfer between two states is induced.",
                            "alias": [
                              "nuclear magnetic resonance"
                            ]
                          },
                          {
                            "name": "RDC",
                            "namespace": "Measurement method",
                            "is_a": [
                              "00120"
                            ],
                            "id": "00166",
                            "definition": "partial alignement between two spins of a molecule in solution",
                            "alias": [
                              "residual dipolar coupling",
                              "RDCs",
                              "residual dipolar coupling"
                            ]
                          },
                          {
                            "name": "chemical shift",
                            "namespace": "Measurement method",
                            "is_a": [
                              "00120"
                            ],
                            "id": "00167",
                            "definition": "shift of the intrinsic NMR frequency",
                            "alias": [
                              "CS",
                              "CSs",
                              "chemical shifts"
                            ]
                          },
                          {
                            "name": "relaxation",
                            "namespace": "Measurement method",
                            "is_a": [
                              "00120"
                            ],
                            "id": "00168",
                            "definition": "return of nuclei from an excited state to a ground state",
                            "alias": [
                              "relaxations"
                            ]
                          },
                          {
                            "name": "T2 relaxation",
                            "namespace": "Measurement method",
                            "is_a": [
                              "00168"
                            ],
                            "id": "00169",
                            "definition": "(transverse relaxation) spin-spin",
                            "alias": [
                              "transverse relaxation",
                              "R2",
                              "T2 relaxations"
                            ]
                          },
                          {
                            "name": "PRE",
                            "namespace": "Measurement method",
                            "is_a": [
                              "00168"
                            ],
                            "id": "00171",
                            "definition": "paramagnetic ions are used to induce enhanced relaxation of the spins close to the paramagnetic spin label",
                            "alias": [
                              "paramagnetic relaxation enhancement",
                              "spin label relaxation enhancement",
                              "PREs"
                            ]
                          },
                          {
                            "name": "SAXS",
                            "namespace": "Measurement method",
                            "is_a": [
                              "00230"
                            ],
                            "id": "00125",
                            "definition": "part of the small-angle scattering (SAS) techniques, along with SANS. In SAXS, a protein solution is exposed to X-rays and scattering is recorded at small angles up to a few degrees",
                            "alias": [
                              "small angle x-ray scattering"
                            ]
                          },
                          {
                            "name": "TraDES",
                            "namespace": "Ensemble generation method",
                            "is_a": [
                              "00184"
                            ],
                            "id": "00186",
                            "definition": "initial pool generation",
                            "alias": null
                          },
                          {
                            "name": "CNS",
                            "namespace": "Ensemble generation method",
                            "is_a": [
                              "00188"
                            ],
                            "id": "00192",
                            "definition": "Crystallography and NMR System (CNS) program for computational structural biology",
                            "alias": null
                          },
                          {
                            "name": "CRYSOL",
                            "namespace": "Ensemble generation method",
                            "is_a": [
                              "00195"
                            ],
                            "id": "00208",
                            "definition": "program used to calculate scattering curves of each conformer from SAXS data",
                            "alias": null
                          },
                          {
                            "name": "ShiftX",
                            "namespace": "Ensemble generation method",
                            "is_a": [
                              "00195"
                            ],
                            "id": "00210",
                            "definition": "estimation of chemical shifts for NMR data",
                            "alias": null
                          },
                          {
                            "name": "SHIFTS",
                            "namespace": "Ensemble generation method",
                            "is_a": [
                              "00195"
                            ],
                            "id": "00239",
                            "definition": "estimation of chemical shifts for NMR data",
                            "alias": null
                          },
                          {
                            "name": "ENSEMBLE",
                            "namespace": "Ensemble generation method",
                            "is_a": [
                              "00212"
                            ],
                            "id": "00216",
                            "definition": "approach for the determination of a set of conformers (SAXS and NMR data)",
                            "alias": null
                          }
                        ]
                      },
                      "construct_chains": [
                        {
                          "chain_name": "A",
                          "fragments": [
                            {
                              "description": "tag",
                              "source_sequence": "GS",
                              "start_position": 1,
                              "end_position": 2,
                              "uniprot_acc": null,
                              "uniprot_info": null
                            },
                            {
                              "description": "Protein SIC1",
                              "source_sequence": "MTPSTPPRSRGTRYLAQPSGNTSSSALMQGQKTPQKPSQNLVPVTPSTTKSFKNAPLLAPPNSNMGMTSPFNGLTSPQRSPFPKSSVKRTLFQFESHDNGTVREEQEPLGRVNRILFPTQQNVDIDAAEEEEEGEVLLPPSRPTSARQLHLSLERDEFDQTHRKKIIKDVPGTPSDKVITFELAKNWNNNSPKNDARSQESEDEEDIIINPVRVGKNPFASDELVTQEIRNERKRAMLRENPDIEDVITYVNKKGEVVEKRRLTDEEKRRFKPKALFQSRDQEH",
                              "start_position": 1,
                              "end_position": 90,
                              "uniprot_acc": "P38634",
                              "uniprot_info": null
                            }
                          ],
                          "alignment": {
                            "pdb_sequence": "GSMTPSTPPRSRGTRYLAQPSGNTSSSALMQGQKTPQKPSQNLVPVTPSTTKSFKNAPLLAPPNSNMGMTSPFNGLTSPQRSPFPKSSVKRT",
                            "fragments_sequence": "GSMTPSTPPRSRGTRYLAQPSGNTSSSALMQGQKTPQKPSQNLVPVTPSTTKSFKNAPLLAPPNSNMGMTSPFNGLTSPQRSPFPKSSVKRT"
                          },
                          "fragments_stats": [
                            {
                              "sequence": "GS",
                              "uniprot": null,
                              "length_total_uniprot": 2,
                              "length_total_pdb": 92,
                              "length_frag_total_uniprot": 2,
                              "start_position_alig": 0,
                              "end_position_alig": 1,
                              "start_position_pdb": -1,
                              "end_position_pdb": 0,
                              "length_frag_total_pdb": 2,
                              "length_frag_nogaps_alig": 2,
                              "cov_total_frag_pdb": 0.021739130434782608,
                              "cov_nogaps_frag_pdb": 0.021739130434782608,
                              "cov_total_frag_unip": 1,
                              "cov_nogaps_frag_unip": 1
                            },
                            {
                              "sequence": "MTPSTPPRSRGTRYLAQPSGNTSSSALMQGQKTPQKPSQNLVPVTPSTTKSFKNAPLLAPPNSNMGMTSPFNGLTSPQRSPFPKSSVKRT",
                              "uniprot": "P38634",
                              "length_total_uniprot": 284,
                              "length_total_pdb": 92,
                              "length_frag_total_uniprot": 90,
                              "start_position_alig": 2,
                              "end_position_alig": 91,
                              "start_position_pdb": 1,
                              "end_position_pdb": 90,
                              "length_frag_total_pdb": 90,
                              "length_frag_nogaps_alig": 90,
                              "cov_total_frag_pdb": 0.9782608695652174,
                              "cov_nogaps_frag_pdb": 0.9782608695652174,
                              "cov_total_frag_unip": 0.31690140845070425,
                              "cov_nogaps_frag_unip": 0.31690140845070425
                            }
                          ],
                          "missings": [],
                          "mutations": [],
                          "modifications": [
                            {
                              "chain": "A",
                              "fragment": 2,
                              "start_position_unip": 5,
                              "uniprot": "P38634",
                              "start_position_alig": 6,
                              "start_position_pdb": 5,
                              "aa": "T",
                              "modification_code": "TPO"
                            },
                            {
                              "chain": "A",
                              "fragment": 2,
                              "start_position_unip": 33,
                              "uniprot": "P38634",
                              "start_position_alig": 34,
                              "start_position_pdb": 33,
                              "aa": "T",
                              "modification_code": "TPO"
                            },
                            {
                              "chain": "A",
                              "fragment": 2,
                              "start_position_unip": 45,
                              "uniprot": "P38634",
                              "start_position_alig": 46,
                              "start_position_pdb": 45,
                              "aa": "T",
                              "modification_code": "TPO"
                            },
                            {
                              "chain": "A",
                              "fragment": 2,
                              "start_position_unip": 69,
                              "uniprot": "P38634",
                              "start_position_alig": 70,
                              "start_position_pdb": 69,
                              "aa": "S",
                              "modification_code": "SEP"
                            },
                            {
                              "chain": "A",
                              "fragment": 2,
                              "start_position_unip": 76,
                              "uniprot": "P38634",
                              "start_position_alig": 77,
                              "start_position_pdb": 76,
                              "aa": "S",
                              "modification_code": "SEP"
                            },
                            {
                              "chain": "A",
                              "fragment": 2,
                              "start_position_unip": 80,
                              "uniprot": "P38634",
                              "start_position_alig": 81,
                              "start_position_pdb": 80,
                              "aa": "S",
                              "modification_code": "SEP"
                            }
                          ]
                        }
                      ],
                      "ensembles": [
                        {
                          "ensemble_id": "e001",
                          "models": 11,
                          "chains": [
                            {
                              "chain_name": "A",
                              "rg_mean": 26.7439005864,
                              "entropy_dssp_mean": 0.4023964281,
                              "relative_asa_mean": 0.6879983572
                            }
                          ]
                        },
                        {
                          "ensemble_id": "e002",
                          "models": 10,
                          "chains": [
                            {
                              "chain_name": "A",
                              "rg_mean": 26.714687005,
                              "entropy_dssp_mean": 0.3969717634,
                              "relative_asa_mean": 0.7016040011
                            }
                          ]
                        },
                        {
                          "ensemble_id": "e003",
                          "models": 11,
                          "chains": [
                            {
                              "chain_name": "A",
                              "rg_mean": 28.1516697297,
                              "entropy_dssp_mean": 0.4419606019,
                              "relative_asa_mean": 0.7005979796
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "properties": {
                    "entry_id": {
                      "type": "string"
                    },
                    "version": {
                      "type": "integer"
                    },
                    "creation_date": {
                      "type": "string"
                    },
                    "description": {
                      "$ref": "#/components/schemas/EntryDescription"
                    },
                    "construct_chains": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConstructChain"
                      }
                    },
                    "ensembles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EntryEnsemble"
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "entry_id": "string",
                      "version": 0,
                      "creation_date": "string",
                      "description": {
                        "title": "string",
                        "authors": [
                          {
                            "name": "string",
                            "orcid_id": "string",
                            "corresponding_author": true,
                            "email": "string"
                          }
                        ],
                        "publication_status": "string",
                        "publication_source": "string",
                        "publication_identifier": "string",
                        "publication_html": "string",
                        "expression_organism": "string",
                        "expression_organism_name": "string",
                        "experimental_procedure": "string",
                        "structural_ensembles_calculation": "string",
                        "md_calculation": "string",
                        "ontology_terms": [
                          {
                            "name": "string",
                            "namespace": "string",
                            "is_a": [
                              "string"
                            ],
                            "id": "string",
                            "definition": "string",
                            "alias": [
                              "string"
                            ]
                          }
                        ],
                        "entry_cross_reference": [
                          {
                            "db": "string",
                            "id": "string"
                          }
                        ],
                        "experimental_cross_reference": [
                          {
                            "db": "string",
                            "id": "string"
                          }
                        ]
                      },
                      "construct_chains": [
                        {
                          "chain_name": "string",
                          "fragments": [
                            {
                              "description": "string",
                              "source_sequence": "string",
                              "start_position": 0,
                              "end_position": 0,
                              "uniprot_acc": "string",
                              "uniprot_info": null
                            }
                          ],
                          "alignment": {
                            "pdb_sequence": "string",
                            "fragments_sequence": "string"
                          },
                          "fragments_stats": [
                            {}
                          ],
                          "missings": [
                            {}
                          ],
                          "mutations": [
                            {}
                          ],
                          "modifications": [
                            {}
                          ]
                        }
                      ],
                      "ensembles": [
                        {
                          "ensemble_id": "string",
                          "models": 0,
                          "chains": [
                            {
                              "chain_name": "string",
                              "rg_mean": 0,
                              "entropy_dssp_mean": 0,
                              "relative_asa_mean": 0
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-entry",
        "description": "Get the details of an entry"
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "identifier",
          "in": "path",
          "required": true,
          "description": "PED Entry identifier"
        }
      ]
    },
    "/entries/{identifier}/ensembles/{ensemble_id}/{asset}": {
      "get": {
        "summary": "Get Ensemble Asset",
        "tags": [],
        "responses": {},
        "operationId": "get-entry-asset",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "csv",
                "json"
              ]
            },
            "in": "query",
            "name": "response_format",
            "description": "Response format. Only for the following assets: dssp-consensus, dssp-data, cb-dev, clash, geom-angles, geom-bonds, geom-carbons, ramachandran, rotamer, gyration-chains, gyration-global, dmax-data, dmax-global"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "only_features",
            "description": "Only features. Only for dssp-consensus"
          }
        ]
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "identifier",
          "in": "path",
          "required": true,
          "description": "PED Entry identifier (e.g. PED00001)"
        },
        {
          "schema": {
            "type": "string",
            "enum": [
              "ensemble-pdb",
              "ensemble-sample",
              "dssp-consensus",
              "dssp-data",
              "cb-dev",
              "clash",
              "geom-angles",
              "geom-bonds",
              "geom-carbons",
              "ramachandran",
              "rotamer",
              "gyration-chains",
              "gyration-global",
              "dmax-data",
              "dmax-global",
              "weights"
            ]
          },
          "name": "asset",
          "in": "path",
          "required": true,
          "description": "Asset Name"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "ensemble_id",
          "in": "path",
          "required": true,
          "description": "Ensemble ID (e.g. e001)"
        }
      ]
    },
    "/entries/{identifier}/ensembles/{ensemble_id}/chains/{chain}/{asset}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "identifier",
          "in": "path",
          "required": true,
          "description": "PED Entry identifier (e.g. PED00001)"
        },
        {
          "schema": {
            "type": "string",
            "enum": [
              "ensemble-animation",
              "ramachandran-plot",
              "rg-boxplot"
            ]
          },
          "name": "asset",
          "in": "path",
          "required": true,
          "description": "Asset Name"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "chain",
          "in": "path",
          "required": true,
          "description": "Chain Name"
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "ensemble_id",
          "in": "path",
          "required": true,
          "description": "Ensemble ID (e.g. e001)"
        }
      ],
      "get": {
        "summary": "Get Ensemble Chain Asset",
        "tags": [],
        "responses": {},
        "operationId": "get-entry-chain-asset"
      }
    }
  },
  "components": {
    "schemas": {
      "Author": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "orcid_id": {
            "type": "string"
          },
          "corresponding_author": {
            "type": "boolean"
          },
          "email": {
            "type": "string"
          }
        },
        "x-examples": {
          "Example 1": {
            "name": "Luiggi Tenorio-Ku",
            "orcid_id": "0000-0001-6086-9494",
            "corresponding_author": false,
            "email": "biocomp@bio.unipd.it"
          }
        }
      },
      "ExperimentalTag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "namespace": {
            "type": "string"
          },
          "is_a": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string"
          },
          "definition": {
            "type": "string"
          },
          "alias": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "x-examples": {
          "Example 1": {
            "name": "NMR",
            "namespace": "Measurement method",
            "is_a": [
              "00230"
            ],
            "id": "00120",
            "definition": "NMR spectroscopy is based upon the principle of nuclear spins and nuclei are electrically charged, the intrinsic magnetic moment of atomic nuclei such as that of 1 H, 13 C, and 15 N. When an external magnetic field an energy transfer between two states is induced.",
            "alias": [
              "nuclear magnetic resonance"
            ]
          }
        }
      },
      "CrossReference": {
        "type": "object",
        "x-examples": {
          "example-1": {
            "db": "string",
            "id": "string"
          }
        },
        "properties": {
          "db": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "EntryDescription": {
        "title": "EntryDescription",
        "x-stoplight": {
          "id": "1rcbpq229tgjm"
        },
        "type": "object",
        "x-examples": {
          "example-1": {
            "title": "string",
            "authors": [
              {
                "name": "string",
                "orcid_id": "string",
                "corresponding_author": true,
                "email": "string"
              }
            ],
            "publication_status": "string",
            "publication_source": "string",
            "publication_identifier": "string",
            "publication_html": "string",
            "expression_organism": "string",
            "expression_organism_name": "string",
            "experimental_procedure": "string",
            "structural_ensembles_calculation": "string",
            "md_calculation": "string",
            "ontology_terms": [
              {
                "name": "string",
                "namespace": "string",
                "is_a": [
                  "string"
                ],
                "id": "string",
                "definition": "string",
                "alias": [
                  "string"
                ]
              }
            ],
            "entry_cross_reference": [
              {
                "db": "string",
                "id": "string"
              }
            ],
            "experimental_cross_reference": [
              {
                "db": "string",
                "id": "string"
              }
            ]
          }
        },
        "properties": {
          "title": {
            "type": "string"
          },
          "authors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Author"
            }
          },
          "publication_status": {
            "type": "string"
          },
          "publication_source": {
            "type": "string"
          },
          "publication_identifier": {
            "type": "string"
          },
          "publication_html": {
            "type": "string"
          },
          "expression_organism": {
            "type": "string"
          },
          "expression_organism_name": {
            "type": "string"
          },
          "experimental_procedure": {
            "type": "string"
          },
          "structural_ensembles_calculation": {
            "type": "string"
          },
          "md_calculation": {
            "type": "string"
          },
          "ontology_terms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentalTag"
            }
          },
          "entry_cross_reference": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrossReference"
            }
          },
          "experimental_cross_reference": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CrossReference"
            }
          }
        }
      },
      "ConstructFragment": {
        "type": "object",
        "x-examples": {
          "Example 1": {
            "description": "Protein SIC1",
            "source_sequence": "MTPSTPPRSRGTRYLAQPSGNTSSSALMQGQKTPQKPSQNLVPVTPSTTKSFKNAPLLAPPNSNMGMTSPFNGLTSPQRSPFPKSSVKRTLFQFESHDNGTVREEQEPLGRVNRILFPTQQNVDIDAAEEEEEGEVLLPPSRPTSARQLHLSLERDEFDQTHRKKIIKDVPGTPSDKVITFELAKNWNNNSPKNDARSQESEDEEDIIINPVRVGKNPFASDELVTQEIRNERKRAMLRENPDIEDVITYVNKKGEVVEKRRLTDEEKRRFKPKALFQSRDQEH",
            "start_position": 1,
            "end_position": 90,
            "uniprot_acc": "P38634",
            "uniprot_info": null
          }
        },
        "properties": {
          "description": {
            "type": "string"
          },
          "source_sequence": {
            "type": "string"
          },
          "start_position": {
            "type": "integer"
          },
          "end_position": {
            "type": "integer"
          },
          "uniprot_acc": {
            "type": "string",
            "nullable": true
          },
          "uniprot_info": {
            "nullable": true
          }
        }
      },
      "ConstructChain": {
        "title": "ConstructChain",
        "x-stoplight": {
          "id": "yskxxl0su6705"
        },
        "type": "object",
        "properties": {
          "chain_name": {
            "type": "string"
          },
          "fragments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConstructFragment"
            }
          },
          "alignment": {
            "type": "object",
            "properties": {
              "pdb_sequence": {
                "type": "string"
              },
              "fragments_sequence": {
                "type": "string"
              }
            }
          },
          "fragments_stats": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "missings": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "mutations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "modifications": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        },
        "x-examples": {
          "example-1": {
            "chain_name": "string",
            "fragments": [
              {
                "description": "string",
                "source_sequence": "string",
                "start_position": 0,
                "end_position": 0,
                "uniprot_acc": "string",
                "uniprot_info": null
              }
            ],
            "alignment": {
              "pdb_sequence": "string",
              "fragments_sequence": "string"
            },
            "fragments_stats": [
              {}
            ],
            "missings": [
              {}
            ],
            "mutations": [
              {}
            ],
            "modifications": [
              {}
            ]
          }
        }
      },
      "EntryEnsembleChain": {
        "type": "object",
        "properties": {
          "chain_name": {
            "type": "string"
          },
          "rg_mean": {
            "type": "number"
          },
          "entropy_dssp_mean": {
            "type": "number"
          },
          "relative_asa_mean": {
            "type": "number"
          }
        },
        "x-examples": {
          "Example 1": {
            "chain_name": "A",
            "rg_mean": 26.7439005864,
            "entropy_dssp_mean": 0.4023964281,
            "relative_asa_mean": 0.6879983572
          }
        }
      },
      "EntryEnsemble": {
        "type": "object",
        "x-examples": {
          "Example 1": {
            "ensemble_id": "e001",
            "models": 11,
            "chains": [
              {
                "chain_name": "A",
                "rg_mean": 26.7439005864,
                "entropy_dssp_mean": 0.4023964281,
                "relative_asa_mean": 0.6879983572
              }
            ]
          }
        },
        "properties": {
          "ensemble_id": {
            "type": "string"
          },
          "models": {
            "type": "integer"
          },
          "chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntryEnsembleChain"
            }
          }
        }
      }
    }
  }
}