<div class="d-flex flex-column h-100">

<div class="container-xl flex-grow px-0">
    <div class="row">
        <div class="col text-justify">
                  <h1 class="text-center pb-3"> <strong>PED</strong><span style="font-weight: lighter">archive</span></h1>
<!--            <p class="my-4">-->
<!--                With <strong>PED</strong><span style="font-weight: lighter">assessment</span> you can test and improve-->
<!--                the quality of your generated conformational ensemble:-->
<!--            </p>-->
<!--            <div class="row">-->
<!--                <div class="col">-->
<!--                    <div class="card" style="min-height: 12rem">-->
<!--                        <div class="card-header">Assess single ensemble</div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="d-flex flex-column " style="height: 7rem">-->
<!--                                <div class="container-fluid flex-grow">-->
<!--                                    <p>You can use our web-server without login </p>-->

<!--                                </div>-->
<!--                                <div class="container-fluid">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col">-->
<!--                                            <a class="btn btn-primary-dark" routerLink="/submission">-->
<!--                                                Start using <strong>PED</strong><span style="font-weight: lighter">assessment </span>-->
<!--                                                <i class="bi bi-skip-forward-circle-fill"></i>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col">-->
<!--                    <div class="card" style="min-height: 12rem">-->
<!--                        <div class="card-header">-->
<!--                            Assess multiple ensembles-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="d-flex flex-column " style="height: 7rem">-->
<!--                                <div class="container-fluid flex-grow">-->
<!--                                    <p>-->
<!--                                        By creating a profile you can assess multiple ensembles at the same time-->
<!--                                    </p>-->

<!--                                </div>-->
<!--                                <div class="container-fluid">-->
<!--                                    <div class="row">-->
<!--                                        <div class="col">-->
<!--                                            <app-login></app-login>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->


<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <p class="mt-5">
                Browse several deposited conformational ensembles available for the scientific community at
                <a href="https://proteinensemble.org/" target="_blank"><strong>PED</strong><span style="font-weight: lighter">archive</span></a>
            </p>
        </div>
    </div>
</div>
    <div class="container-xxl px-0">
        <div class="row align-items-center" id="copyright">
            <div class="col-auto"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons License"
                     style="border-width:0"
                     src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
            </a></div>
            <div class="col ps-0">This work is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Attribution 4.0 International License</a>.
            </div>
        </div>
    </div>

</div>
